<!doctype html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>{{ title }}</title> <link rel="stylesheet" href="css/style.css"> 
        <!-- bootstrap --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <!-- jQuery library --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script> <!-- js --> <script src="js/script.js"></script> 
        <!-- font awesome --> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head> 
<body> 
    {{{ body }}} {{!--{{{ }}} means we render the HTML as is --}} 
</body> </html>