<!-- PIC -->
<div id="profile">
    <img class="center-block img-circle" src= {{profile_pic}} alt="Image of Alex Michal" style="width: 15%">   
</div>

<!-- ABOUT -->
<div id="about" class="container">
  <div class="row">
    <div class="col-xs-12">
        </div>
    <div class="col-xs-12">
      <h2>About</h2>
      <hr class="divider">
      <p>Front-End Developer and UX/UI designer, with practical experience in project management, branding strategy, and creative direction; devoted to functional programming and information architecture.</p>
      <p>Web Developer - User Experience Designer - Graphic Artist</p>
    </div>
  </div>
</div>

<!-- PORTFOLIO -->
<div id="portfolio" class="container" >
  <h2>Portfolio</h2>
  <hr class="divider">
  <!-- project 1 -->
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="https://loginsystemphp.herokuapp.com/">
          <img src="" alt="Lights" style="width:100%">
          <div class="caption">
            <p>A simple PHP login app.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- project 2 -->
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="https://thirty-rails.herokuapp.com/">
          <img src="" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Web app of 30 Rails the boardgame.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>